
///////////////////////////////////////////////
// Front matter

// #lpitDocument("{{docId}}",
//  shortTitle: [ {{shortTitle}} ],
//  longTitle: [ {{longTitle}} ])

// \author{ {{ authors}} }

// \maketitle

// #abstract[
//   {{abstract}}
// ]

