{% extends "base.html" %}

{% block head %}
  <title>Bibliograpy</title>
{% endblock %}

{% block header %}
  <h1>Bibliography</h1>
{% endblock %}

{% block content %}
<ul>
{% for key in bibEntryLevels recursive %}
{% set xKey = key.replace('-', '_') %}
{% set item = bibEntryLevels[key] %}
  <li x-data="{ open{{xKey}}: false, open{{xKey}}Bib: false }">
    <span @click="open{{xKey}} = ! open{{xKey}}">&nbsp;{{ key }}&nbsp;</span>
    {% if key in bibHtml %}
    <span @click="open{{xKey}}Bib = ! open{{xKey}}Bib">&nbsp;(bib)&nbsp;</span>
    <div class="border-4 border-blue-200" x-show="open{{xKey}}Bib">{{bibHtml[key] | safe }}</div>
    {% endif %}
    {% if key in bibEntryTragets %}
      <div class="border-4 border-blue-200" x-show="open{{xKey}}">
      {% for aTarget in bibEntryTragets[key] %}
      {% set aDoc = aTarget[0] %}
      {% set aPage = aTarget[2] %}
        <a href="/citations/{{aDoc}}/{{key}}/{{aPage}}.html" target="lpit_{{aDoc}}">{{aDoc}}-{{aPage}}</a>
      {% endfor %}
      </div>
    {% endif %}
    {%- if item is mapping -%}
      <ul x-show="open{{xKey}}">{{ loop(item) }}</ul>
    {%- endif -%} 
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% endblock %}
