{% extends "base.html" %}

{% block head %}
  <title>Index of labels</title>
{% endblock %}

{% block header %}
  <h1>Index of labels</h1>
{% endblock %}

{% block content %}
<ul>
{% for key in labelLevels recursive %}
{% set item = labelLevels[key] %}
  <li>
    {{ key }}
    {% if key in labelsDesc %}
    <div>{{labelsDesc[key] | safe }}</div>
    {% endif %}
    {% if key in labels %}
      <ul>
      {% for aTarget in labels[key] %}
      {% set aDoc = aTarget[0] %}
        <li><a href="/labels/{{aDoc}}/{{key}}" target="lpit_{{aDoc}}">{{aDoc}}-{{key}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {%- if item is mapping -%}
      <ul>{{ loop(item) }}</ul>
    {%- endif -%} 
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% endblock %}

