{% extends "base.html" %}

{% block head %}
  <title>Index of labels</title>
{% endblock %}

{% block header %}
  <h1>Index of labels</h1>
{% endblock %}

{% block content %}
<ul>
{% for key in labelLevels recursive %}
{% set xKey = key.replace('-', '_') %}
{% set item = labelLevels[key] %}
  <li x-data="{ open{{xKey}}: false, open{{xKey}}Desc: false }">
    <span @click="open{{xKey}} = ! open{{xKey}}">&nbsp;{{ key }}&nbsp;</span>
    {% if key in labelsDesc %}
    <span @click="open{{xKey}}Desc = ! open{{xKey}}Desc">({{labelsDesc[key]['type']}})</span>
    <div class="border-4 border-blue-200" x-show="open{{xKey}}Desc">{{labelsDesc[key]['desc'] | safe }}</div>
    {% endif %}
    {% if key in labels %}
      <div class="border-4 border-blue-200" x-show="open{{xKey}}">
      <strong>Definitions:</strong>
      {% for aTarget in labels[key] %}
      {% set aDoc = aTarget[0] %}
      {% set aPage = aTarget[2] %}
        <a href="/labels/{{aDoc}}/{{key}}/{{aPage}}.html" target="lpit_{{aDoc}}">{{aDoc}}-{{aPage}}</a>
      {% endfor %}
      </div>
    {% endif %}
    {% if key in references %}
      <div class="border-4 border-blue-200" x-show="open{{xKey}}">
      <strong>Uses:</strong>
      {% for aTarget in references[key] %}
      {% set aDoc = aTarget[0] %}
      {% set aPage = aTarget[2] %}
        <a href="/references/{{aDoc}}/{{key}}/{{aPage}}.html" target="lpit_{{aDoc}}">{{aDoc}}-{{aPage}}</a>
      {% endfor %}
      </div>
    {% endif %}
    {%- if item is mapping -%}
      <ul x-show="open{{xKey}}">{{ loop(item) }}</ul>
    {%- endif -%} 
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% endblock %}

