{% extends "base.html" %}

{% block head %}
  <title>{{websiteTitle}}</title>
{% endblock %}

{% block header %}
  <h1>{{websiteTitle}}</h1>
{% endblock %}

{% block content %}
<ul>
  <li><a href="toc.html">Table of contents</a></li>
  <li><a href="labelIndex.html">Index of Labels</a></li>
  <li><a href="theoremIndex.html">Index of Theorems</a></li>
  <li><a href="figureIndex.html">Index of Figures</a></li>
  <li><a href="bibliography.html">Bibliograpy</a></li>
</ul>
{% endblock %}

{% block footer %}
{% endblock %}
