# This is the LPiT definition YAML file for the <<>> document

doc:
  id: <<>>
  type: <<>>

title:
  short: <<>>
  long: <<>>

authors:
  - given: <<>>
    family: <<>>
    prefix: <<>>
    suffix: <<>>
    order: <<givenFamily | familyCommaGiven>>

abstract: |
  <<>>

