# This is the LPiT definition YAML file for the <<>> document

doc:
  id: <<>>
  name: <<>>
  type: <<>>

title:
  short: <<>>
  long: <<>>

authors:
  - given: <<>>
    family: <<>>
    prefix: <<>> # optional
    suffix: <<>> # optional
    order: <<givenFamily | familyCommaGiven>> # optional
    email: <<>> #optional

packages:
  - location: <<>> # optional 
    name: <<>
    version: <<>>

abstract: |
  <<>>

